<!DOCTYPE html>
<html>
	<head>
		<%- include('partials/all_pages/header') -%>
		<title><%= title %></title>
	</head>
	<%- include('partials/all_pages/navbar', {
		loginStatus : loginStatus
	}) -%>
	<body>
		<script>
			if ('geolocation' in navigator) {
				console.log('geolocation available');
				navigator.geolocation.getCurrentPosition(position => {
					console.log(position);
					console.log(position.coords.latitude);
					console.log(position.coords.longitude);
				});
			} else {
				console.log('geolocation not available');
			}
		</script>
		<h1><%= title %></h1>
	</body>
	<script src="/scripts/menu.js"></script>
</html>
